.logo {
  font-family: $accentFont;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1, 383;
  letter-spacing: 3%;
  color: $blackColor;
  margin-right: 93px;
}
.logo-text__blue {
  color: $blueColor;
}
.logo-text__white {
  color: $whiteColor;
}
