.section.team {
  background-color: $lightGrayColor;
}
.team-set {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-set__card {
  background: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}
.team-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0px 10px 0px;
}
.team-set__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $textColor;
  margin-bottom: 30px;
}
.team-set-icon {
  display: flex;
  justify-content: center;
}
.team-set-icon__item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: $whiteColor;
  transition: color 250ms $timingFunction;
  &:hover {
    background-color: $blueColor;
    cursor: pointer;
  }
}
.icon {
  fill: $iconColor;
  width: 20px;
  height: 20px;
  margin: 12px 12px;
  transition: color 250ms $timingFunction;
  &:hover {
    fill: $whiteColor;
    cursor: pointer;
  }
}
